*{
    padding: 0;
    margin: 0;
    /*background-image: linear-gradient(to right, hsla(55, 98%, 50%, 1.0), hsla(275, 86%, 36%, 0.6));*/
    font-family: 'Times New Roman', Times, serif;
}
.menu-container{
    font-size: 2rem;
    color: #fff;
    list-style-type: none;/*removes bullets*/
    margin: 0;
    padding: 0;

    background-color: hsla(55, 98%, 50%, 1.0);
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li{
    margin: auto;
}
li a{
    text-decoration: none;
    float: right;
    display: block;
    width: fit-content;
    height: 30px;
    padding: 3px;
    margin: none;
    background-color: hsla(275, 86%, 36%, 0.6);
}
li #logo{
    float: left;
}
li a:hover{
    background-color: hsla(275, 86%, 36%, 0.3);
}
#header-el{
    color: hsla(0, 0, 0, 0);
    text-align: center;
}
.hero{
    height: 50vh;
    width: 99vw;
    background-image: url("hero.png");
    display: flex;
}
.hero button{
    background-color: hsla(275, 86%, 36%, 1.0);
    color: goldenrod;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 100px;
    margin: auto;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.home-col {
    flex-basis: 30%;
    background: hsla(55, 98%, 50%, 1.0);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 1s;
}
.motto{
    font-size: 30px;
}
.footer{
    background-color: hsla(55, 98%, 50%, 1.0);
    width:100%;
    text-align:center;
    padding: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
}