:root{
    --bright:hsla(55,98%,50%,1.0);
    --brighter: white;
    --dark:hsla(275, 86%, 36%, 0.7);
    --darker:hsla(275, 86%, 36%, 1.0);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    box-sizing: border-box;
    font-size: 1em;
}
h1{
    font-size: 2em;
}
h3{
    font-size: 1.7em;
}
p{
    font-size: 1.5em;
}
.menu-container{
    display: grid;
    display: inline;
    grid-template-columns: 1em repeat(5, 1em);
    /* justify-content: space-between; */
    font-size: 1.5em;
    color: var(--brighter);
    list-style-type: none;/*removes bullets*/
    /* background-color: var(--bright); */
}
.logo{
    background-color: aqua;
}
ul{
    display: flex;
    /* background-color: violet; */
    list-style-type: none;
    justify-content: flex-end;
}
li a{
    /* background-color: blueviolet; */
    display: flex;
    /* justify-content: flex-start; */
    text-decoration: none;
    width: fit-content;
    height: 1.7em;
    padding: 1px;
    margin: 0.5em;
}

li a:hover{
    background-color: var(--dark);
    transition: 0.4s;
}
.hero{
    background-color: var(--bright);
    overflow: hidden;
    height: 60vh;
    background-repeat: no-repeat;
}
#header-el{
    color: hsla(0, 0, 0, 0);
    text-align: center;
}
.row {
    margin: 1em 0;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    text-align: center;
}
.home-col {
    /* min-width: 100; */
    border-radius: 10px;
    margin: 0 0.5em;
    padding: 1em;
    /* background-color: var(--bright); */
}
.taekwondo{
    background-color: var(--bright);
    display: flex;
    justify-content: space-between;
}
.taek2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
}
.taek1 img{
    height: 100%;
    width: 80%;
}
button{
    background-color: var(--dark);
    color: var(--bright);
    font-size: 1.5em;
    height: 2.2em;
    margin: 0.2em;
    padding: 0.5em 1em 1em;
    /* border: none; */
}
button:hover{
    background-color: var(--darker);
}
.arts{
    background-color: var(--brighter);
    display: flex;
    justify-content: space-between;
}
.arts1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
}
.arts2 img{
    height: 100%;
    width: 90%;
}

footer{
    display: flex;
    flex-direction: column;
}
.footer-div{
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    background-color: var(--bright);
    width:100%;
    text-align:center;
    padding: 1em;
    font-weight: none;
}
.copyrights{
    text-align: center;
    font-size: 0.8em;
    background-color: var(--bright);
}
@media screen and (max-width: 800px) {
    .logo{
        background-color: green;
    }
    .row {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .home-col {
        min-width: 100%;
        border-radius: 10px;
        margin: 0.5em 0;
        padding: 1em;
        /* background-color: var(--brighter); */
    }
}
@media screen and (max-width: 500px) {
    .logo{
        background-color:brown;
    }
    .row {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .home-col {
        min-width: 100%;
        border-radius: 10px;
        margin: 0.5em 0;
        padding: 1em;
        /* background-color: var(--brighter); */
    }
}